<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Notícias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: lightblue;
        }#div{
            width: 900px;
            text-shadow: -2px 0px 2px white;
            background-color: white;
            border-radius: 50px 50px 0px 0px;
        }h1{
            margin-left: 30px;
        }
    </style>
</head>
<body>
    <center>
        <div id="div">
             <h1>Notícias</h1>
        </div>        
    </center>
    {% block conteudo %}
    {% endblock %}    
</body>
</html>